<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LISTENING MUSIC</title>
    <link href="../static/assets/css/playlist.css" rel="stylesheet" />
  </head>
  <body>
    <div class="container__outside">
      <div class="screen">
        <header class="status-bar">
          <i class="fas fa-arrow-left"></i>
          <i class="fas fa-search"></i>
        </header>
        
        <div class="tracklist">
            <table border = '1'>
                <thead>
                    <tr>
                        <th scope="col" class="select">
                            <span class="blind">선택</span>
                        </th>
 
                        <th scope="col" class="song">
                            <span class="blind">곡명</span>
                        </th>


                        <th scope="col" class="lyrics">
                            <span class="blind">가사</span>
                        </th>

                    </tr>
                </thead>
                <tbody>
                    <tr class="">
                        <td class="select">
                            <input type="checkbox" id="chk_track_58536167" class="input_check">
                            <label for="chk_track_58536167" class="blind">
                                <span>선택하기</span>
                            </label>
                        </td>

                        <td class="song">
                            <div class="title_badge_wrap">
                                <span class="inner_cell">

                            </div>
                            <div title="OSHUN" class="artist_sub">
                                <span>
                                    <span>
                                        <!-- <a href="/artist/3182362" class="link_artist">
                                            <span class="text">OSHUN</span>
                                        </a> -->
                                        곡 이름
                                    </span>
                                </span>
                            </div>
                            <!---->
                        </td>
    
                        <td class="lyrics">
                            <a href="#" role="button" class="btn_lyrics">
                                <span class="blind">가사 보기</span>
                            </a>
                        </td>
                    </tr>
                </tbody>
    
            </table>
        </div>
        
        <div class="container__np round-box black-box">
          <div class="container__detail">
            <span>다른 추천곡을 원하신다면?</span>
          </div>
          <div><i class="fas fa-step-backward"></i>
            <i class="fa fa-repeat" aria-hidden="true"></i>
            <i class="fas fa-step-forward"></i></div>
        </div>
      </div>
    <script
      src="https://kit.fontawesome.com/6478f529f2.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>